<h3>{{'INGREDIENT_EDIT.INGREDIENT' | translate}} : {{name}}</h3>
<form (ngSubmit)="onSubmit()" [formGroup]="ingredientForm">
    <div class="p-fluid">
        <div class="p-field p-grid">
            <label for="name" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.NAME' | translate}}</label>
            <div [class]="getInputClasses()">
                <input type="text" pInputText formControlName="name" #nameinput>
                <span class="help-class" *ngIf="checkNotValidValue('name')">Please enter a
                    name</span>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="sugars" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.SUGARS' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="sugars" type="number" pInputText formControlName="sugars">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="fats" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.FATS' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="fats" type="number" pInputText formControlName="fats">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="sml" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.SML' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="sml" type="number" pInputText formControlName="sml">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="otherSolids" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.OTHER' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="otherSolids" type="number" pInputText formControlName="otherSolids">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="totSolids" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.TOT' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="totSolids" type="string" pInputText [value]="totSolids" [disabled]=true>
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="water" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.WATER' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="water" type="string" pInputText [disabled]="true" [value]="water">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="pac" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.PAC' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="pac" type="number" pInputText formControlName="pac">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="pod" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.POD' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="pod" type="number" pInputText formControlName="pod">
            </div>
        </div>
        <div class="p-field p-grid">
            <label for="cost" [class]="getLabelClasses()">{{'INGREDIENT_EDIT.COST' | translate}}</label>
            <div class="p-col-12 p-md-10">
                <input id="cost" type="number" pInputText formControlName="cost">
            </div>
        </div>
        <div class="p-field p-grid">
            <p-button class="p-p-10" icon="pi pi-save" iconPos="left" (click)="save($event)"
                [disabled]="!ingredientForm.valid || !ingredientForm.dirty" label="Save">
            </p-button>
            <p-button class="p-p-10" icon="pi pi-times" iconPos="left" label="Delete"></p-button>
            <p-confirmPopup></p-confirmPopup>
        </div>
    </div>
</form>